<?xml version="1.0"?>
<!--
/**
 * Webkul_MpDailyDeal frontend events
 * @category  Webkul
 * @package   Webkul_MpDailyDeal
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_controller_product_view">
        <observer name="deal_product_view" instance="Webkul\MpDailyDeal\Observer\CatalogControllerProductView" shared="false" />
    </event>
</config>