<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Mirasvit\Helpdesk\Api\Data\TicketSearchResultsInterface"-->
                <!--type="Magento\Framework\Api\SearchResults" />-->
    <!--<preference for="Mirasvit\Helpdesk\Api\Data\TicketInterface" type="Mirasvit\Helpdesk\Model\Ticket" />-->
    <!--<preference for="Mirasvit\Helpdesk\Api\TicketRepositoryInterface" type="Mirasvit\Helpdesk\Model\TicketRepository" />-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="helpdesk_ticket_listing_data_source" xsi:type="string">Mirasvit\Helpdesk\Model\ResourceModel\Ticket\Grid\Collection</item>
                <item name="sales_order_view_helpdesk_tickets_grid_data_source" xsi:type="string">Mirasvit\Helpdesk\Model\ResourceModel\Ticket\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mirasvit\Helpdesk\Model\ResourceModel\Ticket\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mst_helpdesk_ticket</argument>
            <argument name="eventPrefix" xsi:type="string">helpdesk_ticket_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">ticket_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Mirasvit\Helpdesk\Model\ResourceModel\Ticket</argument>
        </arguments>
    </type>
    <virtualType name="HelpdeskGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
                <!--it seems magento has a BUG here. it does not use our filter-->
                <!--<item name="fulltext" xsi:type="object">\Mirasvit\Helpdesk\Ui\Component\DataProviders\FulltextFilter</item>-->
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TicketGridDataProvider" type="Mirasvit\Helpdesk\Ui\Component\DataProvider\TicketGridDataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mirasvit\Helpdesk\Model\ResourceModel\Ticket\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">HelpdeskGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="HelpdeskCommand" xsi:type="object">Mirasvit\Helpdesk\Console\Command\HelpdeskCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Contact\Block\ContactForm">
        <plugin name="HelpdeskContactFormPlugin" type="Mirasvit\Helpdesk\Plugin\ContactForm" sortOrder="10"/>
        <plugin name="HelpdeskSchedulePlugin" type="Mirasvit\Helpdesk\Plugin\Schedule" sortOrder="20"/>
    </type>
    <type name="Magecomp\Recaptcha\Block\Recaptcha">
        <plugin name="HelpdeskContactFormPlugin" type="Mirasvit\Helpdesk\Plugin\ContactForm" sortOrder="10"/>
    </type>

    <!--REPOSITORY-->
    <preference for="Mirasvit\Helpdesk\Api\Repository\Ticket\FolderRepositoryInterface"
                type="Mirasvit\Helpdesk\Repository\Ticket\FolderRepository" />
    <preference for="Mirasvit\Helpdesk\Api\Repository\TicketRepositoryInterface"
                type="Mirasvit\Helpdesk\Repository\TicketRepository" />
    <preference for="Mirasvit\Helpdesk\Api\Data\TicketSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />

    <!--SERVICE-->
    <preference for="Mirasvit\Helpdesk\Api\Service\Order\OrderManagementInterface"
                type="Mirasvit\Helpdesk\Service\Order\OrderManagement" />


    <type name="Mirasvit\Report\Model\Pool">
        <arguments>
            <argument name="reports" xsi:type="array">
                <item name="helpdesk_overview" xsi:type="string">Mirasvit\Helpdesk\Reports\Overview</item>
            </argument>
        </arguments>
    </type>
</config>
