<?xml version="1.0"?>
<!--
/**
 * Webkul_MpDailyDeal Admin events
 * @category    Webkul
 * @package     Webkul_MpDailyDeal
 * @author      Webkul
 * @copyright   Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_catalog_product_edit_prepare_form">
        <observer name="webkul_daily_deals_product_fields" instance="Webkul\MpDailyDeal\Observer\CatalogProductEditPrepareForm" />
    </event>
    <event name="catalog_product_save_before">
    	<observer name="webkul_deals_product_save_before" instance="Webkul\MpDailyDeal\Observer\CatalogProductSaveBefore" />
    </event>
</config>
