<?xml version="1.0"?>
<!-- /**
* Webkul Software.
*
* @category Webkul
* @package Webkul_Stripe
* @author Webkul
* @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
* @license https://store.webkul.com/license.html
*/ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
                <group id="stripe" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Stripe Payment]]></label>
                        
                        <field id="active" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="title" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Title</label>
                        </field> 

                        <field id="debug" translate="label" type="select" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Debug</label>
                            <source_model>Webkul\Stripe\Model\Source\Environment</source_model>
                        </field>

                        <field id="api_key" translate="label" type="text" sortOrder="104" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Api Key</label>
                        </field> 

                        <field id="api_publish_key" translate="label" type="text" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Api Publishable Key</label>
                        </field> 


                        <field id="name_on_form" translate="label" type="text" sortOrder="107" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Set Name Display on Form</label>
                        </field>

                        <field id="image_on_form" translate="label comment" type="image" sortOrder="108" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Set Image</label>
                            <backend_model>Webkul\Stripe\Model\Config\Backend\Image</backend_model>
                            <base_url type="media" scope_info="1">wkstripe/config</base_url>
                            <comment>Upload any Image that you want to show on stripe payment popup at frontend</comment>
                        </field>  

                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="112" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        </field>

                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="113" showInDefault="1" showInWebsite="1" showInStore="0">
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <depends><field id="allowspecific">1</field></depends>
                        </field>

                        <field id="payment_action" translate="label" type="select" sortOrder="116" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment action</label>
                            <source_model>Webkul\Stripe\Model\Source\PaymentAction</source_model>
                            <comment>select the event to capture payment</comment>
                        </field>

                        <field id="min_order_total" translate="label" type="text" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Minimum Order Total</label>
                            <comment>$0.50 is the minimum amount allowed by Stripe</comment>
                        </field>

                        <field id="max_order_total" translate="label" type="text" sortOrder="116" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Maximum Order Total</label>
                        </field>

                        <field id="sort_order" translate="label" type="text" sortOrder="117" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                        </field>

                        <field id="alipay" translate="label" type="select" sortOrder="117" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable Alipay Checkout</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="bitcoin" translate="label" type="select" sortOrder="118" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled Bitcoin Checkout</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                        <field id="zip_code_validation" translate="label" type="select" sortOrder="118" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled Zip Code Validation</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Specify whether Checkout should validate the billing ZIP code (yes or no). The default is no, but we highly recommend setting to yes.</comment>
                        </field>
                        
                        <field id="shipping_address" translate="label" type="select" sortOrder="118" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled Shipping Address</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Specify whether Checkout should collect the user's shipping address (yes or no). The default is no.If Shipping Address is enable then user have to enter the Shipping Address manually.</comment>
                        </field>
                        
                        <field id="billing_address" translate="label" type="select" sortOrder="118" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled Billing Address</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>Specify whether Checkout should collect the user's billing address (yes or no). The default is no.If Billing Address is enable then user have to enter the Billing Address manually.</comment>
                        </field>
                </group>
        </section>
    </system>
</config>