<?xml version="1.0"?>
<!--
/**
 * Webkul Marketplace DailyDeals Config
 * @category  Webkul
 * @package   Webkul_MpDailyDeals
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mpdailydeals>
            <general>
                <enable>1</enable>
            </general>
        </mpdailydeals>
    </default>
</config>
