<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 * @category  Webkul
 * @package   Webkul_MpDailyDeals
 * @author    Webkul
 * @copyright Copyright (c) 2010-2016 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 *
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="webkul_mpdailydeal_action_predispatch_observer" instance="Webkul\MpDailyDeal\Observer\PreDispatchObserver" />
    </event>
</config>